
RewriteEngine on
RewriteCond %{HTTP_HOST} ^support\.dsignstudio\.com\.mx$ [OR]
RewriteCond %{HTTP_HOST} ^www\.support\.dsignstudio\.com\.mx$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/support\.dsignstudio\.com\.mx\/index\.php" [R=301,L]

